body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  background-repeat: no-repeat;
  background-position: top center;
}

body.light {
  color: #222222;
}

body.dark {
  color: #f2f2f2;
}

.background.light {
  background-image: url("../img/light-theme/hero-bg.jpg");
  background-color: #f2f4f6;
}

.background.dark {
  background-image: url("../img/dark-theme/hero-bg.jpg");
  background-color: #040406;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 160px;
  padding: 32px 0 32px;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a {
  margin-left: 56px;
  color: #288be6;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.theme-button {
  float: left;
  font-size: 30px;
}

.bi-moon {
  color: black; 
}

.bi-brightness-low {
  color: #fea18d;
}

.email {
  padding-left: 30px;
}

.phone {
  padding-left: 25px;
}

.email.light {
  background-image: url("../img/light-theme/icon-email.svg");
}

.email.dark {
  background-image: url("../img/dark-theme/icon-email.svg");
  color: #fea18d;
}

.phone.light {
  background-image: url("../img/light-theme/icon-phone.svg");
}

.phone.dark {
  background-image: url("../img/dark-theme/icon-phone.svg");
  color: #fea18d;
}

.hero-image {
  margin-bottom: 620px;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 16px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3,
.certificates h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

p.about {
  font-size: 30px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  margin: 20px;
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("../img/icon-html.svg");
  color: #e4492f;
}

.skill-css {
  background-image: url("../img/icon-css.svg");
  color: #0066a9;
}

.skill-js {
  background-image: url("../img/icon-javascript.svg");
  color: #efd81d;
  font-size: 20px;
}

.skill-bootstrap {
  background-image: url("../img/icon-bootstrap.svg");
  color: #732ff9;
}

.skill-python {
  background-image: url("../img/icon-python.svg");
  color: #ffc107;
}

.skill-django {
  background-image: url("../img/icon-django.svg");
  font-size: 20px;
  color: #0c4b33;
}

.skill-flask {
  background-image: url("../img/icon-flask.svg");
  font-size: 20px;
  color: #a3d4ff;
}

.skill-c-plus-plus {
  background-image: url("../img/icon-c++.svg");
  font-size: 20px;
  color: #005494;
}

.skill-pyqt5 {
  background-image: url("../img/icon-pyqt5.svg");
  font-size: 20px;
  color: #77b73b;
}

.skill-pygame {
  background-image: url("../img/icon-pygame.svg");
  font-size: 20px;
  color: #8d8ebd;
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.portfolio,
.certificates {
  margin: 0 0 120px;
}

.portfolio div,
.certificates div {
  margin: 60px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

.bi-telegram {
  font-size: 20px;
}

.bi-telegram.light {
  color: white;
}

.bi-telegram.dark {
  color: #fea18d;
}

.bi-discord {
  font-size: 20px;
}

.bi-discord.light {
  color: white;
}

.bi-discord.dark {
  color: #fea18d;
}

.bi-github {
  font-size: 20px;
}

.bi-github.light {
  color: white;
}

.bi-github.dark {
  color: #fea18d;
}

.page-footer {
  padding: 40px 0;
  color: #ffffff;
}

.page-footer.light {
  background-color: #00417d;
}

.page-footer.dark {
  background-color: #212529;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}
